
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Main Page</title>

        <!-- Fogli di stile per i vari componenti -->
        <link rel="stylesheet" type="text/css" href="../style_css/style_container.css">
        <link rel="stylesheet" type="text/css" href="../style_css/style_menu.css">
        <link rel="stylesheet" type="text/css" href="../style_css/style_controls.css">
        <link rel="stylesheet" type="text/css" href="../style_css/style_table.css">
        <link rel="stylesheet" type="text/css" href="../style_css/style_settings.css">
        
        <%
        switch (last_language) {
            case "IT":%> <script  src="../script_js/type_definition_ita.js"></script> <% break;
            case "EN":%> <script  src="../script_js/type_definition_eng.js"></script> <% break;
            default: %><script    src="../script_js/type_definition_ita.js"> </script>  <% break;
        }
        %>
        
        <!-- jQuery library -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script>
            $(document).ready(function() {
                // Quando la pagina viene caricata
                // Nascondo il contenuto della sezione impostazioni
                $("#impostazioni").hide();

                // Nascondi tutti i contenuti delle tabs
                $(".contenuto-tab").hide(); 
                // Attiva la prima tab
                $("ul.tabs li:first").addClass("active").show();
                //Mostra il contenuto della prima tab 
                $(".contenuto-tab:first").show();
                // Al click sulla tab
                $("ul.tabs li").click(function() {
                    //Rimuovi ogni classe "active"	
                    $("ul.tabs li").removeClass("active");
                    //E aggiungila solo a quella su cui ho cliccato 
                    $(this).addClass("active");
                    //Nascondi tutti i contenuti delle tab
                    $(".contenuto-tab").hide(); 
                    //Trova l'href per identificare in modo univoco la tab ed il contenuto
                    var activeTab = $(this).find("a").attr("href"); 
                    //Mostrami quest'ultimo con effetto di fadeIn
                    $(activeTab).fadeIn(); 
                    return false;
                });

                $("#bt-nuova-maschera").on("click", function() {
                    window.location.href = '/pannelloGrafici';
                });

                // Evento collegato al bottone per eliminare la maschera
                $(".bt-elimina-maschera").on("click", function() {
                    alert("elimina maschera");
                    // Memorizzo il bottone
                    var btEliminaMaschera = $(this);
                    // Recupero l'id
                    var idMaschera = $(this).attr("id").replace("bt-elimina-maschera-", "");	
                    // Memorizzo il parent
                    var parentCorrente = $(this).parent();	
                    $.post("/eliminaMaschera", {
                        "elimina_maschera": idMaschera
                    }, function() {
                        $("#tbl-row-" + idMaschera).fadeOut(1000, function() {
                            $(this).remove();
                        });
                    }).fail(function(xhr, ajaxOptions, thrownError) { //Se ci sono errori
                        alert(thrownError); //Messaggio di avviso con l'errore HTTP
                    });

                });

                $(".impostazioni").on("click", function() {
                    $("#home").hide();
                });

                $(".home").on("click", function() {
                    $("#impostazioni").hide();
                });
                $(".languages option[value=' <%= last_language %> ']").attr("selected", true);

                // Setto tutte le stringhe della pagina
                $(".impostazioni > a").text(mainpageArray.settings);
                $(".container-welcome").prepend(mainpageArray.welcome);
                $(".container-info-maschere").text(mainpageArray.noMasks);
                $(".container-text-lavori").text(mainpageArray.works);
                $(".container-bt-nuova-maschera > button").text(mainpageArray.newMask);
                $("#title").text(mainpageArray.title);
                $("#description").text(mainpageArray.description);
                $(".bt-carica-maschera").val(mainpageArray.display);
                $(".bt-elimina-maschera").text(mainpageArray.delete);
                $("#language").text(settingsArray.language);
                $('select option[value="IT"]').text(settingsArray.italian);
                $('select option[value="EN"]').text(settingsArray.english);
                $(".bt-languages").val(settingsArray.change);
            });
        </script>

    </head>
    <body>	
	
        <ul class="tabs">
            <li class="home"><a href="#home">Home</a></li>
            <li class="impostazioni"><a href="#impostazioni"></a></li>
            <li class="right-element"><a href="/logoutMedico">Logout</a></li>
        </ul>
        <div id="contenitore-tabs">
            <div id="home" class="contenuto-tab">
                <div class="container-welcome">
                   Dott. <%= cognome_medico %> - <%= nome_medico %>
                </div>				
                <div id="contenitore-tbl-maschere">
                    <div>
                        <div class="container-text-lavori"></div>
                        <div class="container-bt-nuova-maschera">
                            <button id="bt-nuova-maschera" class="bt-positive"></button>
                        </div>
                    </div>
                    <% if(maschere){
                        if(maschere == -1){ %>
                            <div class="container-info-maschere">
                            </div>
                        <% }
                        else 
                        { %> 
                            <div id="tbl-maschere" class="tbl-standard">
                            <div class="tbl-header">
                            <div id="title" class="tbl-cell-header tbl-cell-max-width">
                            </div>
                            <div id="description" class="tbl-cell-header tbl-cell-max-width">
                            </div>
                            <div class="tbl-cell-header tbl-cell-min-width">   
                            </div>
                            <div class="tbl-cell-header tbl-cell-min-width">
                            </div>
                            </div>
                            <% maschere.forEach(function(maschera){ %>
                                <div id="tbl-row-<%= maschera.mascheraID %>" class="tbl-row">
                                <div class="tbl-cell tbl-cell-max-width">
                                <%= maschera.titolo %>
                                </div>
                                <div class="tbl-cell tbl-cell-max-width">
                                <%= maschera.descrizione %>
                                </div>
                                <div class="tbl-cell tbl-cell-min-width">
                                <form action="/pannelloGrafici" method="post">
                                <input type="hidden" id="maschera-id" name="maschera_id" value="<%= maschera.mascheraID %>">
                                <input class="bt-carica-maschera bt-tbl bt-blue" type="submit" name="visualizza-maschera" value="Visualizza">
                                </form>
                                </div>
                                <div class="tbl-cell tbl-cell-min-width tbl-cell-right">
                                <button id="bt-elimina-maschera-<%=maschera.mascheraID %>" type="button" class="bt-elimina-maschera bt-tbl bt-red"></button>
                                </div>
                                </div>
                            <% }) %>
                            </div>
                        <%}
                    } %>
                </div>
            </div>
            <div id="impostazioni">
                <div id="container-impostazioni">
                    <div class="container-settings"></div>
                    <div id="contenitore-tbl-settings">
                        <div id="tbl-settings">
                            <div id="language" class="tbl-cell tbl-cell-width container-settings"></div>
                            <div class="tbl-cell tbl-cell-width container-settings-right">
                                <form method="post" action="/cambioLingua">
                                    <select class="languages" name="languages">
                                        <option value="IT"></option>
                                        <option value="EN"></option>
                                    </select>
                                    <input class="bt-languages" type="submit" value="Cambia">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>