<!--<?php
include("sessionAdmin.php");

require_once(dirname(__FILE__) . "/../dbMotorbrainMedico.php");
require_once(dirname(__FILE__) . "/../dbMotorbrainMaschera.php");
require_once(dirname(__FILE__) . "/../dbMotorbrainGrafico.php");
?> -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Pannello Admin</title>

        <!-- Fogli di stile per i vari componenti -->
        <link rel="stylesheet" type="text/css" href="../style_css/style_menu.css">
        <link rel="stylesheet" type="text/css" href="../style_css/style_container.css">
        <link rel="stylesheet" type="text/css" href="../style_css/style_controls.css">
        <link rel="stylesheet" type="text/css" href="../style_css/style_table.css">

        <!-- jQuery library -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <!-- script relativi alle funzioni del pannello -->
        <script>
            $(document).ready(function() {
                // array per gestire i database dei medici
                var databases = [];
                // Quando la pagina viene caricata
                // Nascondi tutti i contenuti delle tabs
                $(".contenuto-tab").hide(); 
                // Attiva la prima tab
                $("ul.tabs li:first").addClass("active").show();
                //Mostra il contenuto della prima tab 
                $(".contenuto-tab:first").show();

                // Al click sulla tab
                $("ul.tabs li").click(function() {
                    //Rimuovi ogni classe "active"	
                    $("ul.tabs li").removeClass("active");
                    //E aggiungila solo a quella su cui ho cliccato 
                    $(this).addClass("active");
                    //Nascondi tutti i contenuti delle tab
                    $(".contenuto-tab").hide(); 

                    //Trova l'href per identificare in modo univoco la tab ed il contenuto
                    var activeTab = $(this).find("a").attr("href"); 
                    //Mostrami quest'ultimo con effetto di fadeIn
                    $(activeTab).fadeIn(); 
                    return false;
                });
                // al click sul checkbox inserisco/tolgo il valore in un array
                $('.databases :checkbox').click(function(e) {

                    // Recupero l'id del contenitore
                    var parentID = $(this).parent().attr("id");

                    // Se sto selezionando il valore ...
                    if($(this).is(":checked")) {
                        // ... gli metto l'attributo checked
                        $(this).attr("checked", true);
                    } else {
                        // ... altrimenti glielo rimuovo
                        $(this).attr("checked", false);
                    }

                    // Inserisco nell'array dei database i valori selezionati
                    $("#" + parentID + " :checkbox").each(function(){
                        var $this = $(this);

                        // controllo che il valore sia checked e che l'id del contenitore coincida con quello della checkbox cliccata
                        if($this.is(":checked")) {
                            var db = $(this).val();

                            var index = $.inArray(db, databases);

                            if (index == -1) {
                                databases.push(db);
                            }
                        }
                        else {
                            var db = $(this).val();

                            var index = $.inArray(db, databases);

                            if (index != -1) {
                                databases.splice(index, 1);
                            }
                        }
                    });

                    databases.sort();
                });

                //Funzione per settare i database utilizzabili da un medico
                $("#tbl-medici").on("click", "button.bt-attiva-database", function() {
                    // Memorizzo il bottone
                    var btAttiva = $(this);
                    // Recupero l'id
                    var idMedico = $(this).attr("id").replace("bt-attiva-database-", "");
                    // Memorizzo il parent
                    var parentCorrente = $(this).parent();	
                    $.post("/gestioneMedici",
                           {
                        "id_medico": idMedico,
                        "databases": databases.toString()
                    }).done( function() {
                        window.alert("Database attivati.");
                        
                        // svuoto l'array dei database per il prossimo medico;
                        databases.splice(0, databases.length);
                    }).fail(function(xhr, ajaxOptions, thrownError) { //Se ci sono errori
                        alert(thrownError); //Messaggio di avviso con l'errore HTTP
                    });
                });

                //Funzione per abilitare un medico
                $("#tbl-medici").on("click", "button.bt-abilita-medico", function() {
                    // Memorizzo il bottone
                    var btAbilita = $(this);
                    // Recupero l'id
                    var idMedico = $(this).attr("id").replace("bt-abilita-", "");	
                    // Memorizzo il parent
                    var parentCorrente = $(this).parent();	
                    $.post("/gestioneMedici",
                           {
                        "abilita_medico": idMedico
                    }).done( function() {
                        // Rimuovo il bottone
                        btAbilita.remove();
                        document.getElementById("etichetta-medico-attivo").innerHTML="Attivo";

                        // Aggiungo il sostituto
                        var htmlButton = '<button id="bt-disabilita-' + idMedico + '"'+
                            ' type="button" class="bt-disabilita-medico bt-tbl bt-yellow">' +
                            'Disabilita</button>';
                        parentCorrente.append(htmlButton);

                        // svuoto l'array dei database per il prossimo medico;
                        databases.splice(0, databases.length);
                    }).fail(function(xhr, ajaxOptions, thrownError) { //Se ci sono errori
                        alert(thrownError); //Messaggio di avviso con l'errore HTTP
                    });
                });

                //Funzione per disabilitare un medico
                $("#tbl-medici").on("click", "button.bt-disabilita-medico", function() {
                    // Memorizzo il bottone
                    var btDisabilita = $(this);
                    // Recupero l'id
                    var idMedico = $(this).attr("id").replace("bt-disabilita-", "");	
                    // Memorizzo il parent
                    var parentCorrente = $(this).parent();	
                    $.post("/gestioneMedici",
                        {
                        "disabilita_medico": idMedico
                        }, 
                    function(){
                        // Rimuovo il bottone
                        btDisabilita.remove();
                        document.getElementById("etichetta-medico-attivo").innerHTML ="Non attivo";
                        // Aggiungo il sostituto
                        var htmlButton = '<button id="bt-abilita-' + idMedico + '"'+
                            ' type="button" class="bt-abilita-medico bt-tbl bt-green">' +
                            'Abilita</button>';
                        parentCorrente.append(htmlButton);

                    }
                          ).fail(function(xhr, ajaxOptions, thrownError) { //Se ci sono errori
                        alert(thrownError); //Messaggio di avviso con l'errore HTTP
                    });
                });

                //Funzione per eliminare un medico
                $("#tbl-medici").on("click", "button.bt-elimina-medico", function() {
                    // Memorizzo il bottone
                    var btElimina = $(this);
                    // Recupero l'id
                    var idMedico = $(this).attr("id").replace("bt-elimina-", "");	
                    // Memorizzo il parent
                    var parentCorrente = $(this).parent();	
                    $.post("gestioneMedici",
                           {"elimina_medico": idMedico},function() 
                        {
                        $("#tbl-row-" + idMedico).fadeOut(1000, function() {
                            $(this).remove();
                        });
                        }).fail(function(xhr, ajaxOptions, thrownError) { //Se ci sono errori
                        alert(thrownError); //Messaggio di avviso con l'errore HTTP
                    });
                });


                //Funzione per eliminare un medico
                $("#bt-crea-tbl-medicodata").on("click", function() {
                    // Memorizzo il bottone
                    var btCreaMedicidata = $(this);
                    // Memorizzo il parent
                    var parentCorrente = $(this).parent();
                    $.post("/gestioneDbMotorbrain",
                           {
                        "crea_tabella": "medicodata"
                    }, function() 
                           {
                        btCreaMedicidata.remove();
                        parentCorrente.text("Nessuna azione disponibile");
                        $("#stato-tbl-medicodata").text("Esiste");
                    }
                          ).fail(function(xhr, ajaxOptions, thrownError) { //Se ci sono errori
                        alert(thrownError); //Messaggio di avviso con l'errore HTTP
                    });
                });

                //Funzione per eliminare una maschera
                $("#bt-crea-tbl-mascheradata").on("click", function() {
                    // Memorizzo il bottone
                    var btCreaMascheradata = $(this);
                    // Memorizzo il parent
                    var parentCorrente = $(this).parent();
                    $.post("/gestioneDbMotorbrain",
                           {
                        "crea_tabella": "mascheradata"
                    }, 
                           function() 
                           {
                        btCreaMascheradata.remove();
                        parentCorrente.text("Nessuna azione disponibile");
                        $("#stato-tbl-mascheradata").text("Esiste");
                    }
                          ).fail(function(xhr, ajaxOptions, thrownError) { //Se ci sono errori
                        alert(thrownError); //Messaggio di avviso con l'errore HTTP
                    });
                });

                //Funzione per eliminare un medico
                $("#bt-crea-tbl-graficodata").on("click", function() {
                    // Memorizzo il bottone
                    var btCreaGraficodata = $(this);
                    // Memorizzo il parent
                    var parentCorrente = $(this).parent();
                    $.post("/gestioneDbMotorbrain",
                           {
                        "crea_tabella": "graficodata"
                    },function() {
                        btCreaGraficodata.remove();
                        parentCorrente.text("Nessuna azione disponibile");
                        $("#stato-tbl-graficodata").text("Esiste");
                    }
                          ).fail(function(xhr, ajaxOptions, thrownError) { //Se ci sono errori
                        alert(thrownError); //Messaggio di avviso con l'errore HTTP
                    });
                });
            });
        </script>
    </head>
    <body>		
        <ul class="tabs">
            <li><a href="#elenco-medici">Elenco Medici</a></li>
            <li><a href="#stato-database">Stato Database</a></li>
            <li class="right-element"><a href="/logout">Logout</a></li>
        </ul>
        <div id="contenitore-tabs">
            <div id="elenco-medici" class="contenuto-tab">
                <div id="tbl-medici" class="tbl-pannello-controllo">
                <div class="tbl-header">
                <div class="tbl-cell-header tbl-cell-max-width">
                Cognome
                </div>
                <div class="tbl-cell-header tbl-cell-max-width">
                Nome
                </div>
                <div class="tbl-cell-header tbl-cell-max-width">
                Email
                </div>
                <div class="tbl-cell-header tbl-cell-max-width">
                Data registrazione
                </div>
                <div class="tbl-cell-header tbl-cell-max-width">
                Database utilizzabili
                </div>
                <div class="tbl-cell-header tbl-cell-max-width">
                Stato
                </div>
                <div class="tbl-cell-header tbl-cell-min-width">
                
                </div>
                </div>
                <% results.forEach(function(item){ %>
                    <% var activeDatabases = item.activeDatabases.split(","); %>
                    <div id="tbl-row-<%= item.medicoID %>"class="tbl-row">
                    <div class="tbl-cell tbl-cell-max-width">
                    <%= item.cognome %>
                    </div>
                    <div class="tbl-cell tbl-cell-max-width">
                    <%= item.cognome %>
                    </div>
                    <div class="tbl-cell tbl-cell-max-width">
                    <%= item.email %>
                    </div>
                    <div class="tbl-cell tbl-cell-max-width">
                    <%= item.dataInserimento %>
                    </div>
                    
                    <div id="databases-<%= item.medicoID %>" class="tbl-cell tbl-cell-max-width databases" style="overflow: auto;">
                    <% for(var i = 0; i < databaseArrayText.lenght; i++){ %>
                        <% if(activeDatabases.includes(databaseArrayText[i])){ %>
                            <input id="' . $databaseArrayText[$i] . '" class="databases" type="checkbox" value="' . $databaseArrayText[$i] . '" checked="checked">
                            <label for="' . $databaseArrayText[$i] . '"><%=  databaseArrayText[i] %></label>
                            <br>
                        <% }
                        else { %>
                            <input id="' . $databaseArrayText[$i] . '" class="databases" type="checkbox" value="' . $databaseArrayText[$i] . '">
                            <label for="' . $databaseArrayText[$i] . '"><%= databaseArrayText[i] %></label>
                            <br>
                        <% }
                    } %>
                    <div class="tbl-cell tbl-cell-min-width tbl-cell-right">
                    <button id="bt-attiva-database<%= item.medicoID %>" type="button" class="bt-attiva-database bt-tbl bt-green">Attiva</button>
                    </div>
                    </div>
                    <div class="tbl-cell tbl-cell-min-width">
                    <%    
                    if(item.attivo == 0) 
                    { %>
                        <p id="etichetta-medico-attivo">Non attivo </p>
                        <button id="bt-abilita-<%= item.medicoID %>" type="button" class="bt-abilita-medico bt-tbl bt-green">Abilita</button>
                    <% }
                    else if (item.attivo == 1)
                    { %>
                        <p id="etichetta-medico-attivo">Attivo</p>
                        <button id="bt-disabilita-<%= item.medicoID %>" type="button" class="bt-disabilita-medico bt-tbl bt-yellow">Disabilita</button>
                    <% } %>
                    </div>
                    <div class="tbl-cell tbl-cell-min-width tbl-cell-right">
                    <button id="bt-elimina-<%= item.medicoID %>" type="button" class="bt-elimina-medico bt-tbl bt-red">Elimina</button>
                    </div>
                    </div>
                <% }); %>
                </div>
            </div>
            <div id="stato-database" class="contenuto-tab"> 
                <div class="tbl-descrizione">Riepilogo sulle nuove tabelle e sugli aggiornamenti del database</div>
            
                <div id="tbl-agg-database" class="tbl-pannello-controllo">
                <div class="tbl-header">
                <div class="tbl-cell-header tbl-cell-max-width">
                Tabella
                </div>
                <div class="tbl-cell-header tbl-cell-max-width">
                Note
                </div>
                <div class="tbl-cell-header tbl-cell-max-width">
                Stato
                </div>
                <div class="tbl-cell-header tbl-cell-max-width">
                Azione
                </div>
                </div>
                <div class="tbl-row">
                <div class="tbl-cell tbl-cell-max-width">
                medicodata
                </div>
                <div class="tbl-cell tbl-cell-max-width">
                Contiene i dati dei medici che utilizzano Motorbrain Web
                </div>
                <div id="stato-tbl-medicodata" class="tbl-cell tbl-cell-max-width">
                
                <% if (medicodataTableExists == false)
                { %>
                    Non esiste
                    </div>
                    <div class="tbl-cell tbl-cell-min-width">
                    <button id="bt-crea-tbl-medicodata" type="button" class="bt-tbl bt-green">Crea tabella</button>
                    </div>
                <% }
                else
                { %>
                    Esiste
                    </div>
                    <div>
                    Nessuna azione disponibile
                    </div>
                <% } %>
                </div>
                <div class="tbl-row">
                <div class="tbl-cell tbl-cell-max-width">
                mascheradata
                </div>
                <div class="tbl-cell tbl-cell-max-width">
                Contiene i dati relativi alle maschere (insieme di grafici) salvati dai medici
                </div>
                <div id="stato-tbl-mascheradata" class="tbl-cell tbl-cell-max-width">

                <% if (mascheradataTableExists == false)
                { %>
                    Non esiste
                    </div>
                    <div class="tbl-cell tbl-cell-min-width">
                    <button id="bt-crea-tbl-mascheradata" type="button" class="bt-tbl bt-green">Crea tabella</button>
                    </div>
                <% }
                else
                { %>
                    Esiste
                    </div>
                    <div>
                    Nessuna azione disponibile
                    </div>
                <% } %>
                </div>

                <div class="tbl-row">
                <div class="tbl-cell tbl-cell-max-width">
                graficodata
                </div>
                <div class="tbl-cell tbl-cell-max-width">
                Contiene i dati dei grafici (database, tipo grafico, esercizio collegato, filtri) salvati dal medico
                </div>
                <div id="stato-tbl-graficodata" class="tbl-cell tbl-cell-max-width">
                <% if (mascheradataTableExists == false)
                { %>
                    Non esiste
                    </div>
                    <div class="tbl-cell tbl-cell-min-width">
                    <button id="bt-crea-tbl-graficodata" type="button" class="bt-tbl bt-green">Crea tabella</button>
                    </div>
                <% }
                else
                { %>
                    Esiste
                    </div>
                    <div>
                    Nessuna azione disponibile
                    </div>
                <% } %>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
